[Unit]
Description=Koble Mount Startup
Before=networking.target systemd-modules-load.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/koble-mount-modules-dir start
StandardOutput=journal+console 

[Install]
WantedBy=multi-user.target
