[Unit]
Description=Koble Startup Phase 2
After=koble-startup-phase1.service
Before=getty@tty0.service getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kstart phase2
StandardOutput=journal+console
TimeoutSec=300

[Install]
WantedBy=multi-user.target
