[Unit]
Description=Koble Startup
After=koble-mount.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kstart phase1
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
