[Unit]
Description=Koble Startup Phase 1

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kstart phase1
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
