[Unit]
Description=Koble Startup
After=koble-mount.service koble-startup-phase1.service
Before=getty@tty0.service getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/koble-startup-p2 start
StandardOutput=journal+console
TimeoutSec=300

[Install]
WantedBy=multi-user.target
