[Unit]
Description=Koble Startup
After=koble-mount.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/koble-startup-p1 start
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
