[Unit]
Description=Koble Shutdown
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/kstart shutdown
StandardOutput=journal+console 

[Install]
WantedBy=shutdown.target
